/*site colors*/
:root{
    --cd1 : #6a7285;
    --cd2 : #374258;
    --cGrey : #c4c4c4; 
    --ccream : #f3f3f3;
    --cred : #f74464;
}

body{
    background-color: var(--cd2);
    padding: 0px;
    margin: 0px;
}

.header-place {
    background-color: var(--cd2);
    color: var(--cGrey);
    height: fit-content;
    position:fixed;top: 0px ;right: 0px;left: 0px;
    position: relative;
}

.tg-btn{
    background-color: var(--cred);
    color: var(--cred);
}

.header-place a, i {
    color: var(--cred);
}

.header-place a:hover, i:hover{
    color: var(--ccream);
}

.social-place {
    width: 220px;
    max-width: 220px;
}

.logo-place{
    border-bottom: 3px solid var(--cred);
    height: fit-content;
    margin-bottom: 10px;
}

.f-title-label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:medium;
}
.s-title-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.footer-images{
    width: 100px;
    height: 100px;
    color: #f74464;
}
.header-image{
    height: 50px;
    width: 250px;
}

.soft-dark-bg{
    background-color: var(--cd1) ;
}
.dark-bg{
    background-color: var(--cd2);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
  }

.tagForInfo {
    color: crimson;
    font-weight: 700;
}
  
.dropdown-content a:hover {background-color: var(--cred);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--cd1);}

.card-bg{
    background: url("@/assets/backgrounds/login_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.login-card{
    width: 500px;
    padding: 2.5rem;
    color: #f3f3f3;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 19px; 
}
.delinator-line{
    height: 1px;
    width: 100%;
    background-color: black;
    box-shadow: 1px 1px 1px black;
    opacity: .2;
}
.delinator{
    display: flex;
    flex-direction: row;
    color: #1d1d1d;
    gap: 16px;
    align-items: center;
}

.remove-image{
    position: absolute;
    top : 0px;
    left: 0px;
}

.glass-bg{
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 19px; 
}


@media (max-width: 620px) {
    .image-container{
        justify-content: center;
        display: grid;
        grid-template: auto;
    }
    .welcome-page {
        background-size: cover;
    }
  
    .image-items {
        width: 500px !important; 
        height:fit-content !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        display: inline-block;
        position: relative;
        justify-content: center;
    }

    .image-items img {
        width: 100%;
        height: fit-content;
    }

    .remove-image {
        width: 2.2rem;
        height: 2.2rem;
        top: 2px;
        left: 0px;
    }
  
} 

.profile_info {
    background-color: #1d1d1d;
    color: #777711;
    padding: 3px;
}

.profile_info:hover {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px; 
    padding: 3px;
}

.profile-card {
    position: absolute;
    left : 0px;
    top: 0px
}

.router-link{
    text-decoration: none !important;
    color: #1d1d1d;
}



/**
  GLASS EFFECT

  background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px; 
    
    */