
  
.dropdown-content a:hover {background-color: var(--cred);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--cd1);}

.card-bg{
    background: url("@/assets/backgrounds/login_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.login-card{
    width: 500px;
    padding: 2.5rem;
    color: #f3f3f3;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 19px; 
}
.delinator-line{
    height: 1px;
    width: 100%;
    background-color: black;
    box-shadow: 1px 1px 1px black;
    opacity: .2;
}
.delinator{
    display: flex;
    flex-direction: row;
    color: #1d1d1d;
    gap: 16px;
    align-items: center;
}

.remove-image{
    position: absolute;
    top : 0px;
    left: 0px;
}

.glass-bg{
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 19px; 
}


@media screen and (max-width: 620px) {
    .image-container{
        justify-content: center;
        display: grid;
        grid-template: auto;
    }
    .welcome-page {
        background-size: cover;
    }
  
    .image-items {
        width: 500px !important; 
        height:fit-content !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        display: inline-block;
        position: relative;
        justify-content: center;
    }

    .image-items img {
        width: 100%;
        height: fit-content;
    }

    .remove-image {
        width: 2.2rem;
        height: 2.2rem;
        top: 2px;
        left: 0px;
    }
  
} 

.profile_info {
    background-color: #1d1d1d;
    color: #777711;
    padding: 3px;
    border-radius: 3px;
    padding: 4px;
}

.profile_info:hover {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px; 
    padding: 3px;
}

.profile-card {
    position: absolute;
    left : 0px;
    top: 0px
}

.router-link{
    text-decoration: none !important;
    color: #1d1d1d;
}


/* .active{
    font-weight: 500 !important;
    color: #1d1d1d;
} */

.my-list-contain{
    display: none;
    list-style: none;
    font-weight:700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.my-list-item:hover{
    width: 100%;
    background-color: #dfdfdf;
    user-select: none;
}

.my-drop:hover .my-list-contain{
    background-color: #fcfcfc;
    transition: all ease 2s;
    position: relative;
    display: block;
}

.search-btn{
    position: fixed;
    top: 200px;
    left: -118px;
    rotate: 90deg;
    margin-left: 0px;
    padding-left: 0px;
}
